{{!-- {{! Partials are code which will repeat themselves so are written once and then
called on the page and position required }} --}}

<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div>
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Since 1980 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    <div class="footer-banner">
        <p class="footer-site-title">IGI Stadium</p>
        <div class="footer-social">
            <ul class="footer-social-container">
                <li><a href="http://facebook.com"><img src="/addons/facebook.svg" alt="facebook" class="footer-social-link"></a></li>
                <li><a href="http://instagram.com"><img src="/addons/insta.svg" alt="instagram" class="footer-social-link"></a></li>
                <li><a href="http://twitter.com"><img src="/addons/twitter.svg" alt="twitter"  class="footer-social-link"></a></li>
            </ul>
        </div>
        {{!<img src="/addons/logo-full-white.svg" alt="logo" class="logo">}}
    </div>
    </div>
</footer>