<link rel="stylesheet" href="/css/bootstrap.css">	
<link rel="stylesheet" href="/css/table/output.css">

{{> header }}

<main>
    <div><h1 class='hdg'>Employees</h1></div>

    <div class='scroll'>
        <table action="/api/employee/" method="get"  class="content-table">
            <thead>
                <tr>
                <th>S.No.</th>
                <th name="Name">Name</th>
                <th name="Age">Age</th>
                <th name="EmpID">Employee ID</th>
                <th name="Address">Address</th>
                <th name="DateofJoining">Date of Joining</th>
                <th name="Section">Section</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>2</td>
                <td>Sally</td>
                <td>72,400</td>
                <td>Students</td>
                <td>Students</td>
                <td>Students</td>
                <td>Students</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Nick</td>
                <td>52,300</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                <td>dcode</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="blank"></div>
</main>

{{> footer }}