<link rel="stylesheet" href="/css/bootstrap.css">	
<link rel="stylesheet" href="/css/home.css">

{{> header }}

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/addons/header.jpg" alt="header" width="100%" height="150%">
        {{!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> --}}

        <div class="container">
          <div class="carousel-caption text-start">
           <h1 style="font-size: 5rem;">IGI Stadium</h1>
            <p style="font: weight 4px; font-size:2rem ;">Where history is made.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Live the legends</h1>
            <p>Some text.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h1 style="text-align: center; padding-top: 1em" class="hdg"> Events </h1>
    <!-- Three columns of text below the carousel -->
    <div class="row" style="padding-top: 2em;">

      <div class="col-lg-4">
        <img src="/addons/use-football.jpg" alt="football" class="event" height="180" width="180">
        <h2 style="padding-top: 1em;">Football</h2>
        <p>League one play off</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
       <img src="/addons/cricket.jpg" alt="football" class="event" height="180" width="180">
        <h2 style="padding-top: 1em;">Cricket</h2>
        <p>Evening of high passion</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="/addons/tennis.jpg" alt="football" class="event" height="180" width="180"><h2 style="padding-top: 1em;">Tennis</h2>
        <p>Championship Series open</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 style="padding-bottom: 0.5em; font-size: 3em;" class="featurette-heading">Membership</h2>
        <p style="font-size: 1.5em; font-weight:200" class="lead">YOUR PLACE IN HISTORY GUARANTEED</p>
        <p>There’s nothing quite like being there. The stillness of 90,000 held breaths, 
          the electric feel of hope in the air in the final minutes, the deafening roar of victory, 
          the sight of heroes rising and the knowledge you are about to witness legends being made.</p>

        <p>Take the best seat in the house to watch history in the making. And you can say: I was there. 
          Club IGI has three membership options so that you can pick an entertainment package that suits you. 
          Sit back, relax and experience the best moments IGI Stadium has to offer.</p>  
      </div>
      <div class="col-md-5">
        <img src="/addons/hospitality-1.jpg" alt="hospitality" width="500" height="500">
        {{!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> --}}

      </div>
    </div>
    {{!-- 
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Content<span class="text-muted">Content</span></h2>
        <p class="lead">Content</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div> --}}

    <hr class="featurette-divider">

    <div style="padding-bottom: 20em;" class="row">
      <div class="col-lg-4">
        <div class="box">
          <div><img src="/addons/box-1.jpg" alt="b1" height="165" width="293px"></div>
          <div>
            <img src="/addons/private.png" alt="p" style="padding-top:2.5em ;">
            <h2>Private Box</h2>
            <h4>₹75,000</h4>
            <p style="padding-bottom: 2em;">Your own private haven with breath taking views and service.</p>
          </div>
        </div>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-4">
        <div class="box">
          <div><img src="/addons/box-2.jpg" alt="b1" height="165" width="293px"></div>
          <div>
            <img src="/addons/one-twenty.png" alt="p" style="padding-top:2.5em ;">
            <h2>One Twenty</h2>
            <h4>₹50,000</h4>
            <p style="padding-bottom: 2em;">The most exclusive club anywhere in the stadium.</p>
          </div>
        </div>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-4">
        <div class="box">
          <div><img src="/addons/box-3.jpg" alt="b1" height="165" width="293px"></div>
          <div>
            <img src="/addons/inner-circle.png" alt="p" style="padding-top:2.5em ;">
            <h2>Inner Circle</h2>
            <h4>₹25,000</h4>
            <p style="padding-bottom: 2em;">Access to variety of member-only bars and restaurents.</p>
          </div>
        </div>
      </div><!-- /.col-lg-3 -->

    </div><!-- /.row -->
    
    
    </div>


  </div>
</main>

  <!-- /.container -->
  
{{!--    <!--===============//// CONTENT ////===============-->
    <section>
        <div class="hero">
            <h1 class="page-title">IGI STADIUM</h1>
        </div>
    </section>
    
    <section>
        <div class="about">
            <div class="about-container">       
                <div class="start">
                    <div class="start-item vision">
                        <h2 class="title">HISTORY</h2>
                        <p>{{! SOMETHING HERE }}</p>
                    </div>
                    <div class="start-item">
                        <h2 class="title">{{!EVENTS}}</h2>
                        
                        <p>{{! EVENTS }}</p>
                        
                        <p>{{! EVENTS }}</p>

                        <p>{{! EVENTS }}</p>
                    </div>
                </div>
            </div>
        </div>   
    </section>
    <!--=============//// END CONTENT ////=============-->--}}

{{> footer }}

